* {
    font-family: 'Tapestry', cursive;Ъ}

body{
    background-color: rgb(222, 245, 219) !important;
  
}
button:hover {
    color: rgb(36, 123, 36);
    background-color: rgb(255, 255, 255);
font-size: 15px;
box-shadow: inset 0 0 0 3px #59b974;
cursor:grab;
} 

.text_5{
    color: rgb(0, 116, 12);
    border:3px #47fe2b dashed;
    padding: 25px;
    margin: 10px;

}
img{
    width:200px ;
    height: 100px;
}